.detailCountry{

    text-align: center;
    background-color: #370a39e5;
    padding: 2%;
    width: 80%;
    box-shadow: 0px 0px 5px 1px #329ddc;
    border-radius: 20px;
    color: #9a1e38;
    font-family: monospace;
    margin: auto;
    margin-top:1%;
    contain: content;

}

.detailCountry > .tableInfo{

    font-size: 1em;
    padding: 2%;
    line-height: 1.3;
    background-color: #00000061;
    border-radius: 10px;
    margin-top: 2%;
    width: 100%;
    margin: auto;

}

.detailCountry > .tableInfo th{

    background-color: #370a39;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: bold;
    font-variant-caps:petite-caps;
    padding: 0.5%;
    width: auto;
    margin: auto;

}

.detailCountry > .tableInfo td{

    background-color:#370a3980;
    color: #329ddc;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5%;
    width: auto;
    text-transform: uppercase;
    padding: 1%;
    margin: auto;

}

.detailCountry h1{

    font-size: 5em;
    font-variant-caps:all-small-caps ;
    margin-bottom: 1%;
}

.detailCountry h2{

    font-size: 3.0em;
    color: #ffffff;
    box-shadow: 0px 0px 5px 1px #329ddc;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-variant-caps:petite-caps ;
    text-align: center;
    margin-top: 2%;
}

.detailCountry h3{

    font-size: 3em;
    font-variant-caps:petite-caps;
    display:inline;
    color: #9a1e38;
    text-align: center;
}

h4{
   
    font-size: 1.5em;
    font-variant-caps:petite-caps;
    color: #9a1e38;
    margin-top: 5px;

}
.detailCountry a{

    display: block;
    color: #329ddc;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    padding: 0;

}

.detailCountry > img{

    width: 45%;
    border-radius:60px;
    box-shadow: 0px 0px 5px 1px #329ddc;
    
}

.divActv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.caja{
    padding: 1%;
    width: 25%;
    margin: 1%;
    border-radius: 500px;
    box-shadow: 0px 0px 5px 1px #9a1e38;
}

.caja > h3{

    font-size: 2.5em;
    font-variant-caps:petite-caps;
    color: #ffffff;
    text-align: center;

}

.caja > p {

    font-size: 1.3em;
    font-variant-caps:petite-caps;
    color:  #329ddc;
    margin-top: -15px;

}

.detailCountry > h2{

    font-size: 2em;
    color: #ffffff;
    box-shadow: 0px 0px 5px 1px #9a1e38;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-variant-caps:petite-caps ;
    text-align: center;
    margin-top: 2%;

}

