.mainContainer h1 {

    text-align: center;
    background-color: #329ddc;
    padding: 1%;
    box-shadow: 0px 0px 5px 1px #9a1e38;
    border-radius: 20px;
    color: #9a1e38;
    font-family: monospace;
    font-variant-caps: small-caps;
    font-size: 3.5em;
    margin: 5%;

}

.mainContainer > p {

  margin:auto;
  background-color: #9a1e39c2;
  max-width: 30%;
  border-radius: 30px;
  margin-top: 2%;

 } 

 .mainContainer > p > img {

  height: auto;
  max-width: 80%;
  padding-top: 5%;
  padding: 2%;
  
 } 

.mainContainer h2{

    text-align: center;
    background-color: #329ddc;
    padding: 1%;
    box-shadow: 0px 0px 5px 1px #9a1e38;
    border-radius: 20px;
    color: #9a1e38;
    font-family: monospace;
    font-variant-caps: small-caps;
    font-size: 2em;
    margin: auto;
    width:50%;

}

.mainContainer h3{

    text-align: center;
    background-color: #329ddc;
    padding: 1%;
    box-shadow: 0px 0px 5px 1px #9a1e38;
    border-radius: 20px;
    color: #9a1e38;
    font-family: monospace;
    font-variant-caps: small-caps;
    font-size: 1.5em;
    width: 50%;
    margin: auto;

}

.mainContainer button{

    color: #329ddc;
    font-size: 2em;
    font-weight:bold;
    background-color: #9a1e38;
    border-color: #329ddc;
    font-family: monospace;
    font-variant-caps: small-caps;
    display: flex;
    margin:auto;
    
}

a{

    display: block;
    color: #329ddc;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    padding: 0;
}